.spots {
  &-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    @media (min-width: $middle){
      padding-bottom: 50px;
    }
    @media (min-width: $screen){
      padding-bottom: 90px;
    }
    &-img {
      @include abs-point(0, 0);
      @include size(100%);
      display: flex;
      justify-content: center;
      &:after {
        content: '';
        @include abs(auto, auto, 0, 0);
        @include block(100%, 80px);
        background: linear-gradient(rgba(0,0,0,0), #000);
        @media (min-width: $middle){
          height: 100px;
        }
        @media (min-width: $tablet){
          height: 125px;
        }
        @media (min-width: $screen){
          height: 150px;
        }

      }
      img {
        @extend .slide-img;
        @include trans(transform 1s);
      }
    }
    &-name {
      position: relative;
      z-index: 1;
      font-size: 20px;
      @media (min-width: $middle){
        margin-bottom: 5px;
        font-size: 26px;
      }
      @media (min-width: $tablet){
        font-size: 32px;
      }
      @media (min-width: $screen){
        font-size: 38px;
      }
    }
    &-desc {
      position: relative;
      z-index: 1;
      font-weight: 500;
      font-size: 12px;
      margin: 0;
    }

    &-title {
      font-size: 20px;
      margin-bottom: 20px;
      @media (min-width: $middle){
        font-size: 24px;
      }

    }

    &-item {
      position: relative;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      overflow: hidden;
      width: 100%;
      color: #fff;
      max-width: 507px;
      height: 215px;
      margin-bottom: 20px;
      padding: 20px;
      @media (min-width: $middle){
        width: 48%;
      }
      @media (min-width: $tablet){
        height: 250px;
      }
      @media (min-width: $screen){
        margin-bottom: 30px;
        height: 314px;
        padding: 25px;
        &:hover {
          .spots-types-img {
            img {
              transform: scale(1.1);
            }
          }
        }
      }

    }

    &-parts {
      li {
        span {
          color: #7B7E87;
          display: inline-block;
          margin-left: 5px;
        }
        a {
          color: #000;
          font-size: 16px;
          line-height: 34px;
          @include hover-link(#000, #2A7CD8);
          @media (min-width: $middle){
            font-size: 18px;
          }
        }
      }
    }

    > ul {
      width: 100%;
      > li {
        break-inside: avoid;
        margin-bottom: 30px;
      }
      @media (min-width: $middle){
        columns: 2;
      }
      @media (min-width: $tablet){

        columns: 3;
        //column-count: 3;
        //column-width: 300px;
      }
    }

  }
  &-list {
    //width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
    @media (min-width: $middle){
      margin-left: -2%;
      margin-bottom: 50px;
    }
    @media (min-width: $tablet){
      margin-left: -1.33333333%;
    }
    @media (min-width: $screen){
      margin-left: -30px;

    }
    .pub-slide {
      width: 100%;
      padding: 0;
      margin-bottom: 30px;
      @media (min-width: $middle){
        width: 48%;
        margin: 0 0 30px 2%;
      }
      @media (min-width: $tablet){
        width: 32%;
        margin: 0 0 30px 1.33333333%;

      }
      @media (min-width: $screen){
        width: 330px;
        margin: 0 0 30px 30px;
      }
    }

  }
}

.spot {
  &-banner {
    //background-repeat: no-repeat;
    //background-position: 50% 0;
    //background-size: cover;
    position: relative;
    color: #fff;
    margin-top: -52px;
    height: 360px;
    padding-top: 120px;
    text-align: center;
    overflow: hidden;
    background-color: #000;

    .parallax-outer {
      opacity: .8;
    }
    .parallax-inner {
      div {
        background-repeat: no-repeat;

      }
    }
    .container {
      position: relative;
      z-index: 2;
    }
    @media (min-width: $middle){
      padding-top: 150px;
      height: 560px;
    }
    @media (min-width: $tablet){
      margin-top: -70px;
    }
    @media (min-width: $screen){
      height: 620px;
      margin-top: -100px;
      padding-top: 180px;
      text-align: left;
    }
    &-type {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      line-height: 39px;
      letter-spacing: 1.4px;
      @media (min-width: $screen){
        line-height: 59px;
      }

    }
    &-title {
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 10px;
      @media (min-width: $middle){
        font-size: 42px;
        line-height: 46px;
      }
      @media (min-width: $tablet){
        font-size: 54px;
        line-height: 58px;
      }
      @media (min-width: $screen){
        font-size: 64px;
        line-height: 67px;
        margin-bottom: 10px;
      }
    }
    &-desc {
      font-size: 18px;
      line-height: 28px;
      max-width: 500px;
      margin: 0 auto;
      @media (min-width: $tablet){
        font-size: 20px;
        font-weight: 500;
        line-height: 33px;
      }
      @media (min-width: $screen){
        margin: 0;
      }


    }

    &:before {
      content: '';
      @include abs-point(0, 0);
      @include block(100%, 20%);
      z-index: 4;
      background: linear-gradient(rgba(#000, .8), rgba(#000, 0));
      @media (min-width: $screen){
        height: 215px;
      }
    }

  }
  &-info {
    background-color: #F0ECE7;
    padding: 15px 0;
    @media (min-width: $middle){
      padding: 30px 0 40px;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    &-item {
      text-align: center;
      margin: 15px 0;
      width: 100%;
      @media (min-width: $middle){
        width: 25%;
      }
    }
    &-icon {
      margin-bottom: 10px;
    }
    &-caption {
      h4 {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 5px;

      }
      p {
        opacity: .64;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        margin: 0;


      }
    }
  }
  &-content {
    padding: 40px 0;
    @media (min-width: $screen){
      padding-top: 100px;
      padding-bottom: 0px;
    }
    .content-subtitle--line {
      max-width: 770px;
      font-size: 18px;
      @media (min-width: $middle){
        font-size: 20px;
      }
      @media (min-width: $screen){
        font-size: 28px;
        line-height: 42px;
      }
    }
    &--color {
      background-color: #F6F2EB;

    }
    ul {
      @extend .clearlist;
      font-weight: 500;
      margin: 40px 0;
      li {
        margin: 23px 0;
        position: relative;
        padding-left: 35px;
        &:before {
          content:'';
          @include block(22px);
          background-color: #F5C93C;
          border-radius: 50%;
          @include abs-point(3px, 0);

        }
      }
    }
    ol {
      @extend .clearlist;
      font-weight: 500;
      counter-reset: item;
      li {
        display: block;
        position: relative;
        margin-top: 1em;
        li {
          margin-left: 1em;
          font-weight: 300;
        }
        ol {
          margin-top: 1em;
        }
        &:before {
          content: counters(item, ".") " ";
          counter-increment: item;
        }
      }
    }
  }
  &-location {

  }
  &-map {
    height: 300px;
    @media (min-width: $middle){
      height: 400px;
    }
    @media (min-width: $tablet){
      height: 500px;
    }
    @media (min-width: $screen){
      height: 600px;
    }
    canvas {
      filter: grayscale(1);
    }

  }
  &-slider {
    position: relative;
    margin: 40px -30px;
    @media (min-width: $middle){
      margin: 50px 0;
    }
    @media (min-width: $screen){
      margin: 80px 0 50px;
    }
    .slick-arrow {
      position: absolute;
      top: 40%;
      @include block(42px);
      padding: 0;
      font-size: 0;
      border: none;
      z-index: 2;
      @media (min-width: $middle){
        @include size(52px);
        top: 160px;
      }
      @media (min-width: $tablet){
        top: 212px;
        @include size(72px);

      }
      &.slick-prev {
        @include bg-size('icons/slide-prev.svg');
        left: 10px;
        @media (min-width: $middle){
          left: 25px;
        }
        @media (min-width: $tablet){
          left: 47px;
        }
      }
      &.slick-next {
        @include bg-size('icons/slide-next.svg');
        right: 10px;
        @media (min-width: $middle){
          right: 25px;
        }
        @media (min-width: $tablet){
          right: 47px;
        }
      }


    }
    &-dots {
      @extend .clearlist;
      width: 100%;
      text-align: center;
      vertical-align: top;
      @media (min-width: $middle){
        @include abs(auto, auto, 123px, 0);
      }
      li {
        display: inline-block;
        margin: 0 5px;
        &:hover, &.slick-active {
          button {
            transform: scale(1);
            background-color: #4B86F8;
            @media (min-width: $middle){
              background-color: #fff;
            }

          }
        }
      }
      button {
        padding: 0;
        font-size: 0;
        border: none;
        @include block(13px);
        background-color: #C7C7C7;
        border-radius: 50%;
        @include trans(all $transition-primary);
        transform: scale(.7);
        @media (min-width: $middle){
          background-color: #fff;
          @include size(18px);
        }
      }


    }
    &-item {

    }
    &-image {
      display: flex;
      justify-content: center;
      overflow: hidden;

      height: 350px;
      img {
        @extend .slide-img;
      }
      @media (min-width: $middle){
        border-radius: 6px;
      }
      @media (min-width: $tablet){
        height: 500px;
      }
    }
    &-caption {
      text-align: center;
      padding: 25px 0 5px;
      font-size: 17px;
      opacity: .74;
      font-weight: 500;
      overflow: hidden;
      max-height: 73px;
      @media (min-width: $middle){
        padding: 25px 0;
      }
    }

  }
}
