.wrapper {
  // min-height: 100%;
  @media (min-width: $screen){
    margin-bottom: -450px;
    min-height: 100%;
  }
  &:after {
    content: '';
    display: block;
    //height: 60px;
    @media (min-width: $screen){
      height: 450px;
    }
  }
  &--dev {
    @media (min-width: $screen){
      margin-bottom: 0;

      &:after {
        content: none;
      }
    }
  }
  &-loader {
    z-index: 999;
    background-color: #FE7A02;
    position: fixed;
    height: 3px;
    top: 0
  }
}
