.view-more {
  width: 100%;
  text-align: center;
  padding: 50px;
  &--pad {
    padding: 50px 30px;
  }
  @media (min-width: $screen){
    padding: 70px 0;
  }
  .btn {
    width: 100%;

    @media (min-width: $middle){
      max-width: 213px;
    }
  }
}
